
<div class="w-full h-full bg-secondary rounded-xl flex flex-wrap md:flex-nowrap items-center justify-center">

  <div>
    <img src="/foto-perfil.png" alt="" class="w-40 h-40 mx-10 rounded-full object-cover  my-5 md:my-0"/>
  </div>
  
  <div class="mr-10">

  <h1 class="text-2xl font-bold text-white">
    Esteban Cárcamo
  </h1>
  <h2 class="text-md font-medium text-gris mt-2">
    Estudiante de Computer Science
  </h2>
  <div class="mt-4 space-x-4">
    <a href="https://github.com/ecarcamo/" class="inline-block text-blue-500 hover:text-blue-700 transition-colors">
        <img src="/logo-github.png" alt="Logo de github" class="w-6 h-6">
    </a>
    <a href="https://www.linkedin.com/in/esteban-c%C3%A1rcamo-726654197/" class="inline-block text-blue-500 hover:text-blue-700 transition-colors">
        <img src="/logo-linkedin.png" alt="" class="w-6 h-6">
    </a>
  </div>
    <a href="/CV_Esteban_Carcamo.pdf" download class="inline-block mt-4 bg-cian hover:bg-cian-hover text-sm font-bold py-1 px-2 rounded transition-colors">
    Descargar CV
    </a>

   
</div>
