---
---

<div class="flex flex-row gap-2 items-center justify-center h-full">
    <div>
        <img src="../../public/foto-perfil.png" alt="">
    </div>
    <div>
        <h1 class="text-4xl text-center my-5">Hola! Que tal?</h1>
        <p class="text-base" style="color: var(--color-paragraph)">Soy Esteban (escu), un apasionado de la tecnología y el desarrollo web. Me encanta crear soluciones innovadoras y eficientes que mejoren la experiencia del usuario y el desarrollo interno de un sistema.</p>
        <p class="text-base" style="color: var(--color-paragraph)">En mi tiempo libre disfruto aprender nuevas tecnologías, explorar el mundo de la ciberseguridad y disfrutar de buena música</p>
    </div>
</div>