
---
const { nameProject, imageDemo, urlDemo, urlRepo, description, languages } = Astro.props;
---

<div class="w-auto h-full flex ">
  <img 
    src={imageDemo} 
    alt={nameProject + " logo"} 
    class="h-full w-[90%] object-cover p-5"
  />

  <div class="w-full h-full flex flex-col justify-center items-center p-4">
    <h1 class="text-center text-xl font-bold">{nameProject}</h1>
    <p class="text-xs">{description}</p>
    <div class="space-x-4">
      <a class="inline-block mt-4 bg-cian hover:bg-cian-hover text-sm font-bold py-1 px-2 rounded transition-colors " href="">Ver Demo</a>
      <a class="inline-block mt-4 bg-cian hover:bg-cian-hover text-sm font-bold py-1 px-2 rounded transition-colors" href="">Ver repo</a>
    </div>
  </div>
</div>
