---

---


<div class="opacity-20 hover:opacity-100  transition-opacity duration-300 h-full w-full">
    <h1 class="text-4xl text-left my-5">Proyectos</h1>
    <p class="text-base " style="color: var(--color-paragraph)" >Quiero presentarte todos los estudios que he llevado en el transcurso de mi vida, junto con los empleos que me han dado bastante experiencia.</p>
    <section >
       
    </section>
</div>