---
---
<div class="opacity-20 hover:opacity-100 transition-opacity duration-300 h-full w-full p-4 ">
  <h1 class="text-4xl text-center my-5 text-white">Skills</h1>
  <div class="flex flex-col gap-6 pb-4 overflow-y-auto h-[90%]">
    <!-- Habilidades de Programación -->
    <section class="min-w-[300px] bg-slate-800 border border-slate-700 p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-white">Programación</h2>
      <ul class="list-disc pl-6 text-gray-300">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Python</li>
        <li>Java</li>
        <li>C#</li>
      </ul>
    </section>
    <!-- Habilidades Blandas -->
    <section class="min-w-[300px] bg-slate-800 border border-slate-700 p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-white">Habilidades Blandas</h2>
      <ul class="list-disc pl-6 text-gray-300">
        <li>Trabajo en Equipo</li>
        <li>Comunicación</li>
        <li>Liderazgo</li>
        <li>Resolución de Problemas</li>
      </ul>
    </section>
    <!-- Otras Categorías -->
    <section class="min-w-[300px] bg-slate-800 border border-slate-700 p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-white">Otras Categorías</h2>
      <ul class="list-disc pl-6 text-gray-300">
        <li>Creatividad</li>
        <li>Gestión del Tiempo</li>
        <li>Adaptabilidad</li>
      </ul>
    </section>
  </div>
</div>