
---
import { skills } from '../data/skills.ts';
import SkillItem from '../components/SkillItem.astro';
---

<div class="w-full h-full p-4 bg-secondary rounded-xl overflow-y-scroll scrollbar-hidden">
  <a href="">
    <h2 class="text-2xl font-bold mb-4 text-center underline">Habilidades</h2>
  </a>
    <!-- Contenedor de grid: 1 columna en mobile, 3 columnas en desktop -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 md:grid-cols-3  gap-4">
    {skills.map(skill => (
      <SkillItem
        name={skill.name}
        bgColor={skill.bgColor}
        textColor={skill.textColor}
        icon={skill.icon}
      />
    ))}
  </div>
</div>

