---

---


<div class="opacity-20 hover:opacity-100  transition-opacity duration-300 h-full w-full">
    <h1 class="text-4xl text-center my-5">Trayectoria</h1>
    <p class="text-base " style="color: var(--color-paragraph)" >Quiero presentarte todos los estudios que he llevado en el transcurso de mi vida, junto con los empleos que me han dado bastante experiencia.</p>
    <section >
        <ul class="list-disc pl-5 mt-4">
            <li class="mb-2">
                <strong>Ingeniería en Sistemas Computacionales</strong> - Universidad Tecnológica de León (2019 - 2023)
                <p class="text-sm text-gray-500">Título obtenido: Ingeniero en Sistemas Computacionales</p>
            </li>
            <li class="mb-2">
                <strong>Desarrollador Web Full Stack</strong> - Academia de Desarrollo Web (2020 - 2021)
                <p class="text-sm text-gray-500">Certificación obtenida: Desarrollador Web Full Stack</p>
            </li>
            <li class="mb-2">
                <strong>Prácticas Profesionales</strong> - Empresa XYZ (2022)
                <p class="text-sm text-gray-500">Desarrollo de aplicaciones web y mantenimiento de bases de datos.</p>
            </li>
            <li class="mb-2">
                <strong>Empleo Actual</strong> - Empresa ABC (2023 - Presente)
                <p class="text-sm text-gray-500">Desarrollador Frontend, trabajando con tecnologías como React y Tailwind CSS.</p>
            </li>
        </ul>
    </section>
</div>