---
export interface Props {
  title?: string;
}
const { title } = Astro.props;
import "../styles/global.css";

// ref background: https://bg.ibelick.com/

---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body class="relative h-screen w-screen bg-slate-950">
  <div class="absolute inset-0 bg-pattern-personalized"></div>
  
  <div class="relative z-10 min-h-full">
    <slot />
  </div>

<script type="module" src="public/effect3d.js"></script>

</body>
</html>


